* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/* Utility classes */
.bgc-blurred {
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
}

.blurred {
  filter: blur(1rem);
}

.transition-time {
  transition: all .5s;
}
/* Utility classes */

html {
  height: 100vh;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  height: 100%;
  background: url("../img/bg-03.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

section {
  background-color: rgba(30, 30, 40, 1);
  width: 100%;
  height: 20rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
}

.main-heading {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgba(243, 243, 243, 1);
  text-align: center;
  margin: 2.5rem 0 2.5rem 0;
  font-size: 2.5em;
}

.blur-btn {
  width: 20rem;
  height: 5rem;
  margin: 0 auto;
  font-size: .8em;
  font-weight: bold;
  padding: 1rem;
  text-transform: uppercase;
  outline: none;
  border: none;
  color: rgba(30, 30, 40, 1);
  background-color: rgb(238, 238, 40);
  border-radius: 1rem;
}

.blur-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: rgb(191, 191, 5);
}

.blur-btn:active {
  transform: scale(.95);
}

.highlight {
  color: rgb(146, 142, 142);
}

.form {
  visibility: hidden;
  position: absolute;
  z-index: 2;
  display: flex;
  padding: 2.5rem;
  width: 50rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
  background: red;
  border: .5rem solid #000;
}