* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100vh;
  font-size: 62.5%;
}

body {
  height: 100%;
  background: url(../img/bg-03.jpg);
  background-size: cover;
}

.blurred-img {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}